.swiper-container{
    height: 340rpx;
    navigator{
        .swiper-image{
            width: 100%
        }
    }
}

.nav-container{
    display: flex;
    padding: 10rpx;
    .nav-inner{
        flex: 1;
        img {
            width: 100%;
        }
    }
}